.scrollbar_thin::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.scrollbar_thin::-webkit-scrollbar-track {
    @apply bg-zinc-200;
    border-radius: 100vh;

}

.scrollbar_thin::-webkit-scrollbar-thumb {
    @apply bg-zinc-700;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.scrollbar_thin::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
}